<form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="placid/requests/saveRequest">
    <input type="hidden" name="redirect" value="placid" />



    {% set request = craft.placid.request(requestId) %}

    {% if request is not defined %}


    {% endif %}

         {% set name = request.name %}
         {% set url = request.url %}
         {% set verb = request.verb %}
         {% set format = request.format %}

  {{ forms.textField({
            label: 'Name'|t,
            required: true,
            name: 'requestName',
            value: name  ,
            errors: ''
        }) }}

        {{ forms.textField({
            label: 'URL'|t,
            required: true,
            name: 'requestUrl',
            value: url,
            errors: ''
        }) }}


    <div class="field">
        <div class="heading">
            {{ "HTTP Verb" | t }}
        </div>
        <div class="input">
            {{ forms.select({
            name: 'requestVerb',
            options: { 'GET' : 'GET' , 'POST' : 'POST', 'PUSH' : 'PUSH', 'DELETE' : 'DELETE', 'PATCH' : 'PATCH'},
            value : verb
            }) }}
        </div>
    </div>

    <div class="field">
        <div class="heading">
            {{ "Return type" | t }}
        </div>
        <div class="input">
            {{ forms.select({
            name: 'requestFormat',
            options: { 'XML' : 'XML' , 'JSON' : 'JSON'},
            value: format
            }) }}
        </div>
    </div>











{#


  <div class="field">
    <div class="heading">
      {{ "Params" | t }}
    </div>
    <div class="input-list">
      <table id="fields" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "value"|t }}</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            {{ forms.textField({
              name: 'rest[params][]',
              value: 'api_key',
              errors: ''
            }) }}
            </td>
            <td>
            {{ forms.textField({
              name: 'rest[params][]',
              value: '12037949629@N01',
              errors: ''
            }) }}
            </td>
          </tr>

        </tbody>
  </table>
    </div>
    <div class="input">
      <a href="#" class="btn">Add param</a>
    </div>
  </div>

<div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Add new request'|t }}">
    </div>
</form> #}