{% extends "placid/_layout" %}

{# Variables
  ----------------------------------------------- #}
{% set selectedSubnavItem = 'oauth' %}
{% set settingsUrl = url('oauth/twitter') %}
{% set oauth = craft.plugins.getPlugin('oauth', false) %}
{% set title = 'OAuth connections' %}
{% set docsUrl = 'https://github.com/alecritson/Placid/wiki/Authenticating' %}

{% set content %}

  {% if oauthPlugin %}
    {% if not oauthPlugin.isInstalled %}
       You need to install the OAuth Plugin
    {% elseif not oauthPlugin.isEnabled %}
      You need to enable the OAuth Plugin
    {% else %}
        {% include 'placid/oauth/providers-table' %}
    {% endif %}
  {% else %}
    <p>{{'Placid requires OAuth plugin for authentication.'|t}}</p>
      <div class="buttons">
        <a class="btn" target="_blank" href="https://dukt.net/craft/oauth/">Download OAuth plugin</a>
      </div>
  {% endif %}
{% endset %}
