
{% set settingsUrl = url('oauth/twitter') %}
{% set oauth = craft.plugins.getPlugin('oauth', false) %}

{% if oauth and oauth.isInstalled %}

  {% set provider = craft.oauth.getProvider('twitter', false) %}

  {% if provider.isConfigured %}
    {% if provider is not empty %}
    <table id="fields" class="data fullwidth collapsible">
      <thead>
          <tr>
              <th scope="col">{{ "Name"|t }}</th>
              <th scope="col">{{ "Status"|t }}</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
  {% endif %}

    {# {% for provider in providers %} #}
      {% set token = craft.placid.token(provider.handle) %}

      {% set connectUrl = actionUrl('placid/requests/connect', { provider : provider.handle}) %}
      {% set disconnectUrl = actionUrl('placid/requests/disconnect', {provider : provider.handle }) %}

      <tr>
        <td>{{ provider.name }}</td>
        <td>
          {% if token %}
              <span class="status on"></span> {{ "Connected"|t }}
          {% else %}
              <span class="status"></span><span class="light">{{ "Not connected"|t }}</span>
          {% endif %}
        </td>
        <td>
        {% if token %}
          <a class="btn small" href="{{ disconnectUrl }}">{{ 'Disconnect'|t }}</a>
        {% else %}
           <a class="btn small" href="{{ connectUrl }}">{{"Connect to {provider}"|t({provider: provider.name})}}</a>
        {% endif %}
        </td>
      </tr>


  </tbody>

</table>
    {% else %}
      <h3>Twitter provider not configured</h3>
      <p><a href="{{ url('oauth/twitter')}}">OAuth settings</a></p>
    {# {% endfor %} #}
{% endif %}
{% else %}

    <p>{{'Placid requires OAuth plugin for authentication.'|t}}</p>

    <div class="buttons">
        <a class="btn" target="_blank" href="https://dukt.net/craft/oauth/">Download OAuth plugin</a>
    </div>

{% endif %}
