{% extends "placid/_layout" %}

{% set requests = craft.placid.getAllRequests %}

{% set content %}
    <div class="buttons">
      <a href="{{ url('placid/add')}}" class="btn submit add icon">Add request</a>
    </div>

    <table id="fields" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "ID"|t }}</th>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Handle"|t }}</th>
                <th scope="col">{{ "URL"|t }}</th>
                <th scope="col">{{ "OAuth"|t }}</th>
                <th scope="col">{{ "Auth"|t }}</th>
                <th scope="col">{{ "Delete"|t }}</th>
            </tr>
        </thead>
        <tbody>

            {% for request in requests %}
                <tr data-id="{{ request.id }}" data-name="{{ request.name }}">
                  <td>{{ request.id }}</td>
                  <td><a href="{{ url("placid/edit/request/" ~ request.id) }}">{{ request.name }}</a></td>
                  <td>{{ request.handle }}</td>
                  <td>{{ request.url }} </td>
                  <td><span class="status {{ request.oauth ? 'live' : 'disabled' }}"></span> </td>
                  <td><span class="status {{ request.tokenId ? 'live' : 'disabled' }}"></span> </td>
                  <td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                </tr>
            {% endfor %}


        </tbody>
  </table>
{% endset %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#fields',
        noObjectsSelector: '#nofields',
        deleteAction: 'placid/requests/deleteRequest'
    });
{% endset %}
{% includeJs js %}